import lombok.Data;
import lombok.experimental.Accessors;

@Data
@Accessors(chain = true)
public class {{classname}} {
{{#vars}}
    private {{{datatype}}} {{name}}{{#defaultValue}} = {{{.}}}{{/defaultValue}};
{{/vars}}
}
